<!-- /snippets/blog-sidebar.liquid -->

<p class="DEMO-ONLY"><a href="/blogs/news/?view=grid">Grid Style Blog Demo</a></p>

<h3 class="h4">{{ 'blog.recent_articles' | t }}</h3>
{% for article in blogs[blog.handle].articles limit:4 %}
  <p>
    <a href="{{ article.url }}">{{ article.title }}</a>
    <br>
    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
      {{ article.published_at | date: '%A, %-d %B, %Y' }}
    </time>
  </p>
{% endfor %}

{% if blog.all_tags.size > 0 %}
  <h3 class="h4">{{ 'blog.categories' | t }}</h3>
  <ul>
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
