<!-- /snippets/collection-product.liquid -->

{% unless column_width %}
  {% assign column_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="{{ column_width }}">

  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>

  <p>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a><br>
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'product.on_sale_html' | t: price: sale_price }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'product.priced_from_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% if on_sale %}
      <span class="hidden">{{ 'product.original_price' | t }}</span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  </p>

</div>
