<span class="icon" aria-hidden="true">
  {% case icon %}
    {% when 'menu' %}
      <!-- SVG CODE GOES HERE -->
    {% when 'cart' %}
      <!-- SVG CODE GOES HERE -->
    {% comment %}
      Payment Gateway Icons
    {% endcomment %}
    {% when 'amazon_payments' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway amazon_payments" aria-labelledby="{{ 'icon.amazon_payments' | t }}" role="img">
        <title>{{ 'icon.amazon_payments' | t }}</title>
        <desc>{{ 'icon.amazon_payments' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#002E64"/>
        <path d="M28.3 27.5c-2.1 1.5-5.1 2.4-7.7 2.4 -3.7 0-7-1.4-9.4-3.6 -0.2-0.2 0-0.4 0.2-0.3 2.7 1.6 6 2.5 9.5 2.5 2.3 0 4.9-0.5 7.2-1.5C28.4 26.8 28.7 27.2 28.3 27.5z" fill="#FE9B00"/>
        <path d="M29.2 26.5c-0.3-0.3-1.8-0.2-2.4-0.1 -0.2 0-0.2-0.2-0.1-0.3 1.2-0.8 3.2-0.6 3.4-0.3 0.2 0.3-0.1 2.3-1.2 3.2 -0.2 0.1-0.3 0.1-0.3-0.1C28.9 28.2 29.5 26.8 29.2 26.5z" fill="#FE9B00"/>
        <path d="M26.8 20.2v-0.8c0-0.1 0.1-0.2 0.2-0.2l3.7 0c0.1 0 0.2 0.1 0.2 0.2l0 0.7c0 0.1-0.1 0.3-0.3 0.5l-1.9 2.7c0.7 0 1.4 0.1 2.1 0.4C31 23.8 31 23.9 31 24.1v0.9c0 0.1-0.1 0.3-0.3 0.2 -1.1-0.6-2.6-0.7-3.9 0 -0.1 0.1-0.3-0.1-0.3-0.2v-0.8c0-0.1 0-0.4 0.1-0.6l2.2-3.2 -1.9 0C26.9 20.4 26.8 20.3 26.8 20.2z" fill="#FFF"/>
        <path d="M13.5 25.3h-1.1c-0.1 0-0.2-0.1-0.2-0.2l0-5.7c0-0.1 0.1-0.2 0.2-0.2l1 0c0.1 0 0.2 0.1 0.2 0.2v0.7h0c0.3-0.7 0.8-1.1 1.5-1.1 0.7 0 1.1 0.3 1.4 1.1 0.3-0.7 0.9-1.1 1.5-1.1 0.5 0 1 0.2 1.3 0.6 0.4 0.5 0.3 1.2 0.3 1.8l0 3.6c0 0.1-0.1 0.2-0.2 0.2h-1.1c-0.1 0-0.2-0.1-0.2-0.2l0-3c0-0.2 0-0.8 0-1.1 -0.1-0.4-0.3-0.5-0.7-0.5 -0.3 0-0.6 0.2-0.7 0.5 -0.1 0.3-0.1 0.8-0.1 1.1v3c0 0.1-0.1 0.2-0.2 0.2h-1.1c-0.1 0-0.2-0.1-0.2-0.2l0-3c0-0.6 0.1-1.6-0.7-1.6 -0.8 0-0.8 0.9-0.8 1.6l0 3C13.7 25.2 13.6 25.3 13.5 25.3z" fill="#FFF"/>
        <path d="M34 19.1c-1.6 0-2.5 1.4-2.5 3.2 0 1.8 0.9 3.2 2.5 3.2 1.6 0 2.5-1.4 2.5-3.1C36.6 20.5 35.7 19.1 34 19.1zM34 24.2c-0.9 0-0.9-1.5-0.9-2.2s0.1-1.8 0.9-1.8c0.4 0 0.6 0.2 0.7 0.6 0.1 0.5 0.2 1 0.2 1.5C34.9 23 34.9 24.2 34 24.2z" fill="#FFF"/>
        <path d="M38.7 25.3h-1.1c-0.1 0-0.2-0.1-0.2-0.2l0-5.7c0-0.1 0.1-0.2 0.2-0.2l1 0c0.1 0 0.2 0.1 0.2 0.2v0.9h0c0.3-0.8 0.7-1.2 1.5-1.2 0.5 0 1 0.2 1.3 0.7C42 20.2 42 21 42 21.5v3.6c0 0.1-0.1 0.2-0.2 0.2h-1.1c-0.1 0-0.2-0.1-0.2-0.2v-3.1c0-0.6 0.1-1.5-0.7-1.5 -0.3 0-0.5 0.2-0.6 0.5 -0.2 0.3-0.2 0.7-0.2 1.1v3.1C39 25.2 38.9 25.3 38.7 25.3z" fill="#FFF"/>
        <path d="M25.9 24.2c-0.2-0.3-0.4-0.5-0.4-1v-1.7c0-0.7 0.1-1.4-0.5-1.9C24.5 19.1 23.8 19 23.3 19c-1.1 0-2.2 0.4-2.5 1.7 0 0.1 0.1 0.2 0.2 0.2l1.1 0.1c0.1 0 0.2-0.1 0.2-0.2 0.1-0.5 0.5-0.7 0.9-0.7 0.2 0 0.5 0.1 0.6 0.3 0.2 0.2 0.1 0.5 0.1 0.8v0.1c-0.6 0.1-1.5 0.1-2.1 0.4 -0.7 0.3-1.2 0.9-1.2 1.8 0 1.2 0.7 1.7 1.7 1.7 0.8 0 1.2-0.2 1.8-0.8 0.2 0.3 0.3 0.4 0.6 0.7 0.1 0 0.2 0 0.3 0l0 0c0.2-0.2 0.6-0.5 0.9-0.7C26 24.5 25.9 24.3 25.9 24.2zM23.9 22.6c0 0.4 0 0.8-0.2 1.2 -0.2 0.3-0.5 0.5-0.8 0.5 -0.4 0-0.7-0.3-0.7-0.8 0-0.9 0.9-1.1 1.7-1.1V22.6z" fill="#FFF"/>
        <path d="M11.3 24.2c-0.2-0.3-0.4-0.5-0.4-1v-1.7c0-0.7 0.1-1.4-0.5-1.9C9.9 19.1 9.2 19 8.7 19c-1.1 0-2.2 0.4-2.5 1.7 0 0.1 0.1 0.2 0.2 0.2l1.1 0.1c0.1 0 0.2-0.1 0.2-0.2 0.1-0.5 0.5-0.7 0.9-0.7 0.2 0 0.5 0.1 0.6 0.3 0.2 0.2 0.1 0.5 0.1 0.8v0.1c-0.6 0.1-1.5 0.1-2.1 0.4C6.5 22.1 6 22.7 6 23.6c0 1.2 0.7 1.7 1.7 1.7 0.8 0 1.2-0.2 1.8-0.8 0.2 0.3 0.3 0.4 0.6 0.7 0.1 0 0.2 0 0.3 0l0 0c0.2-0.2 0.6-0.5 0.9-0.7C11.4 24.5 11.3 24.3 11.3 24.2zM9.3 22.6c0 0.4 0 0.8-0.2 1.2 -0.2 0.3-0.5 0.5-0.8 0.5 -0.4 0-0.7-0.3-0.7-0.8 0-0.9 0.9-1.1 1.7-1.1V22.6z" fill="#FFF"/>
      </svg>
    {% when 'american_express' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway american_express" aria-labelledby="{{ 'icon.american_express' | t }}" role="img">
        <title>{{ 'icon.american_express' | t }}</title>
        <desc>{{ 'icon.american_express' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#007AC6"/>
        <path d="M10.5 24.4h2.3l-1.2-2.9L10.5 24.4zM43 19h-6l-1.5 1.6L34.3 19H21.6l-1.2 2.6L19.3 19h-5.1v1.1L13.6 19H9.2L5 29h5.1l0.6-1.6h1.5L12.7 29h5.7v-1.1L18.8 29h2.9l0.4-1.3V29h11.6l1.5-1.6L36.6 29h6l-3.8-5L43 19zM25.4 27.6h-1.6V22l-2.5 5.6h-1.5L17.4 22v5.6h-3.3L13.4 26H10l-0.6 1.6H7.5l3.1-7.1h2.5l2.8 6.7v-6.7h2.8l2.2 4.9 2-4.9h2.8v7.1H25.4zM39.8 27.6h-2.2l-1.9-2.4 -2.2 2.4h-6.6v-7.1h6.7l2 2.3 2.2-2.3h2L36.7 24 39.8 27.6zM28.6 21.9v1.3h3.6v1.4h-3.6V26h4.1l1.9-2.1 -1.7-2H28.6z" fill="#FFF"/>
      </svg>
    {% when 'bitcoin' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway bitcoin" aria-labelledby="{{ 'icon.bitcoin' | t }}" role="img">
        <title>{{ 'icon.bitcoin' | t }}</title>
        <desc>{{ 'icon.bitcoin' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#E6E6E6"/>
        <circle cx="24" cy="24" r="12" fill="#F99400"/>
        <path d="M29.3 22.3c0.2-1.6-1-2.5-2.6-3l0.5-2.2 -1.3-0.3 -0.5 2.1c-0.3-0.1-0.7-0.2-1.1-0.2l0.5-2.1 -1.3-0.3 -0.5 2.2c-0.3-0.1-0.6-0.1-0.8-0.2l0 0 -1.8-0.5 -0.3 1.4c0 0 1 0.2 1 0.2 0.5 0.1 0.6 0.5 0.6 0.8l-1.5 5.9c-0.1 0.2-0.2 0.4-0.6 0.3 0 0-1-0.2-1-0.2l-0.7 1.5 1.7 0.4c0.3 0.1 0.6 0.2 0.9 0.2l-0.5 2.2 1.3 0.3 0.5-2.2c0.4 0.1 0.7 0.2 1 0.3l-0.5 2.2 1.3 0.3 0.5-2.2c2.2 0.4 3.9 0.3 4.6-1.8 0.6-1.6 0-2.6-1.2-3.2C28.5 24 29.1 23.5 29.3 22.3zM26.3 26.5c-0.4 1.6-3.2 0.8-4.1 0.5l0.7-2.9C23.8 24.4 26.7 24.8 26.3 26.5zM26.7 22.3c-0.4 1.5-2.7 0.7-3.4 0.5l0.7-2.6C24.7 20.4 27.1 20.7 26.7 22.3z" fill="#FFF"/>
      </svg>
    {% when 'diners_club' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway diners_club" aria-labelledby="{{ 'icon.diners_club' | t }}" role="img">
        <title>{{ 'icon.diners_club' | t }}</title>
        <desc>{{ 'icon.diners_club' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#0068AC"/>
        <path d="M21 20.1v7.7c1.7-0.4 3-2 3-3.9S22.7 20.6 21 20.1z" fill="#FFF"/>
        <path d="M28 16h-8c-4.4 0-8 3.6-8 8s3.6 8 8 8h8c4.4 0 8-3.6 8-8S32.4 16 28 16zM20 30c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6S23.3 30 20 30z" fill="#FFF"/>
        <path d="M19 20.1c-1.7 0.4-3 2-3 3.9s1.3 3.4 3 3.9V20.1z" fill="#FFF"/>
      </svg>
    {% when 'discover' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway discover" aria-labelledby="{{ 'icon.diners_club' | t }}" role="img">
        <title>{{ 'icon.discover' | t }}</title>
        <desc>{{ 'icon.discover' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M47 23.8V10c0-1.7-1.3-3-3-3H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h10.6C30.2 38.8 43 30.1 47 23.8z" fill="#E6E6E6"/>
        <path d="M47 38V23.8C43 30.1 30.2 38.8 14.6 41H44C45.7 41 47 39.7 47 38z" fill="#E6E6E6"/>
        <path d="M47 38V23.8C43 30.1 30.2 38.8 14.6 41H44C45.7 41 47 39.7 47 38z" fill="#FA7000"/>
        <path d="M25 21c-1.7 0-3.1 1.3-3.1 3 0 1.7 1.3 3 3.1 3 1.7 0 3.1-1.3 3.1-3C28.1 22.3 26.7 21 25 21z" fill="#FA7000"/>
        <path d="M7.6 21.1H6v5.7h1.6c0.9 0 1.5-0.2 2.1-0.7 0.7-0.5 1-1.4 1-2.2C10.7 22.3 9.5 21.1 7.6 21.1zM9 25.4c-0.4 0.3-0.8 0.5-1.5 0.5H7.1v-3.8h0.3c0.7 0 1.2 0.1 1.5 0.5 0.4 0.3 0.6 0.9 0.6 1.4C9.6 24.5 9.3 25.1 9 25.4z" fill="#444"/>
        <rect x="11.2" y="21.1" width="1.1" height="5.7" fill="#444"/>
        <path d="M15.1 23.3c-0.7-0.2-0.9-0.4-0.9-0.7 0-0.4 0.4-0.6 0.8-0.6 0.3 0 0.6 0.1 0.9 0.5l0.6-0.8c-0.5-0.4-1.1-0.6-1.7-0.6 -1 0-1.8 0.7-1.8 1.6 0 0.8 0.4 1.2 1.4 1.6 0.4 0.2 0.7 0.3 0.8 0.3 0.2 0.1 0.3 0.4 0.3 0.6 0 0.5-0.4 0.8-0.9 0.8 -0.5 0-1-0.3-1.2-0.8l-0.7 0.7c0.5 0.8 1.1 1.1 2 1.1 1.2 0 2-0.8 2-1.9C16.8 24.2 16.4 23.8 15.1 23.3z" fill="#444"/>
        <path d="M17.1 24c0 1.7 1.3 3 3 3 0.5 0 0.9-0.1 1.4-0.3v-1.3c-0.4 0.5-0.8 0.6-1.4 0.6 -1.1 0-1.9-0.8-1.9-2 0-1.1 0.8-2 1.9-2 0.5 0 0.9 0.2 1.4 0.6v-1.3c-0.5-0.2-0.9-0.4-1.4-0.4C18.5 21 17.1 22.3 17.1 24z" fill="#444"/>
        <polygon points="30.6 25 29.1 21.1 27.9 21.1 30.3 27 30.9 27 33.4 21.1 32.2 21.1 " fill="#444"/>
        <polygon points="33.9 26.9 37.1 26.9 37.1 25.9 35 25.9 35 24.3 37 24.3 37 23.4 35 23.4 35 22.1 37.1 22.1 37.1 21.1 33.9 21.1 " fill="#444"/>
        <path d="M41.5 22.8c0-1.1-0.7-1.7-2-1.7h-1.7v5.7h1.1v-2.3h0.1l1.5 2.3H42l-1.8-2.4C41 24.3 41.5 23.7 41.5 22.8zM39.3 23.8h-0.3v-1.7h0.3c0.7 0 1.1 0.3 1.1 0.9C40.3 23.5 40 23.8 39.3 23.8z" fill="#444"/>
      </svg>
    {% when 'jcb' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway jcb" aria-labelledby="{{ 'icon.jcb' | t }}" role="img">
        <title>{{ 'icon.jcb' | t }}</title>
        <desc>{{ 'icon.jcb' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#E6E6E6"/>
        <rect x="10" y="20" width="8" height="9" fill="#FFF"/>
        <rect x="20" y="20" width="8" height="9" fill="#FFF"/>
        <rect x="30" y="20" width="8" height="9" fill="#FFF"/>
        <path d="M31.6 24.4c0.7 0 1.2 0 1.9 0 0.5 0 0.8 0.3 0.9 0.7 0 0.1 0 0.1 0 0.2 0 0.1 0 0.1 0 0.2 -0.1 0.4-0.4 0.7-0.9 0.7 -0.7 0-1.2 0-1.9 0L31.6 24.4 31.6 24.4zM34.2 22.4c0 0.1 0 0.1 0 0.2 0 0.1 0 0.1 0 0.2 -0.1 0.5-0.5 0.6-0.9 0.6 -0.6 0-1 0-1.7 0v-1.6c0.8 0 0.8 0 1.7 0C33.8 21.8 34.1 22 34.2 22.4L34.2 22.4zM38 14v17c0 1.7-1.3 3-3 3h-5v-6.8c0 0 5.2 0 5.2 0 1.1 0 2.1-0.6 2.1-1.7 0-0.1 0-0.1 0-0.2 -0.1-0.8-0.9-1.3-1.9-1.4l0 0c1-0.2 1.5-0.8 1.5-1.5 0-0.5-0.2-1-0.7-1.2 -0.6-0.3-1.2-0.3-1.8-0.3 -0.9 0-3.5 0-4.4 0L30 17c0-1.7 1.3-3 3-3H38z" fill="#269732"/>
        <path d="M10 25.6V17c0-1.7 1.3-3 3-3h5v17c0 1.7-1.3 3-3 3 -1.3 0-2.9 0-5 0v-7c1.2 0.3 4.2 0.7 5.9 0.1 1.1-0.4 1.7-1.2 1.7-2.4v-3.9h-2.9v3.9c0 0.8-0.4 1.4-1.2 1.6C12.5 26.5 11 26.1 10 25.6z" fill="#034D9B"/>
        <path d="M20 21.7V17c0-1.7 1.3-3 3-3h5v17c0 1.7-1.3 3-3 3 -1.2 0-2.9 0-5 0v-7.7c0.8 0.7 1.9 0.9 3 1 1.3 0.1 2.8 0 4.3-0.4v-1.4c-0.9 0.5-2 0.9-3.3 0.7 -1.4-0.2-2.1-1-2.1-2.3 0-1.3 0.8-2.2 2.1-2.3 1.1-0.1 2.3 0.2 3.3 0.7v-1.4c-1.4-0.4-2.7-0.4-3.9-0.4C22.2 20.7 20.9 20.9 20 21.7z" fill="#AD1031"/>
      </svg>
    {% when 'maestro' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway maestro" aria-labelledby="{{ 'icon.maestro' | t }}" role="img">
        <title>{{ 'icon.maestro' | t }}</title>
        <desc>{{ 'icon.maestro' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#003564"/>
        <circle cx="19" cy="24" r="8" fill="#2285DD"/>
        <path d="M24 30.2c0.1-0.1 0.2-0.2 0.3-0.2h-0.5C23.8 30.1 23.9 30.2 24 30.2z" fill="#376BD1"/>
        <path d="M29 16c-2.5 0-4.8 1.2-6.2 3h2.5c0.3 0.3 0.5 0.7 0.7 1h-3.8 0c-0.2 0.3-0.4 0.7-0.5 1h0 4.8c0.1 0.3 0.2 0.7 0.3 1h-5.5c-0.1 0.3-0.2 0.7-0.2 1h5.9C27 23.3 27 23.7 27 24h-6c0 0.3 0 0.7 0.1 1h5.9c0 0.3-0.1 0.7-0.2 1h-5.5c0.1 0.3 0.2 0.7 0.3 1h0 4.8c-0.1 0.3-0.3 0.7-0.5 1h-3.8 0c0.2 0.4 0.4 0.7 0.7 1h2.5c-0.3 0.4-0.6 0.7-1 1h-0.5 0c1.4 1.2 3.3 2 5.3 2 4.4 0 8-3.6 8-8S33.4 16 29 16z" fill="#F01524"/>
      </svg>
    {% when 'master' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway mastercard" aria-labelledby="{{ 'icon.mastercard' | t }}" role="img">
        <title>{{ 'icon.mastercard' | t }}</title>
        <desc>{{ 'icon.mastercard' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#003564"/>
        <circle cx="19" cy="24" r="8" fill="#F01524"/>
        <path d="M24 30.2c0.1-0.1 0.2-0.2 0.3-0.2h-0.5C23.8 30.1 23.9 30.2 24 30.2z" fill="#376BD1"/>
        <path d="M29 16c-2.5 0-4.8 1.2-6.2 3h2.5c0.3 0.3 0.5 0.7 0.7 1h-3.8 0c-0.2 0.3-0.4 0.7-0.5 1h0 4.8c0.1 0.3 0.2 0.7 0.3 1h-5.5c-0.1 0.3-0.2 0.7-0.2 1h5.9C27 23.3 27 23.7 27 24h-6c0 0.3 0 0.7 0.1 1h5.9c0 0.3-0.1 0.7-0.2 1h-5.5c0.1 0.3 0.2 0.7 0.3 1h0 4.8c-0.1 0.3-0.3 0.7-0.5 1h-3.8 0c0.2 0.4 0.4 0.7 0.7 1h2.5c-0.3 0.4-0.6 0.7-1 1h-0.5 0c1.4 1.2 3.3 2 5.3 2 4.4 0 8-3.6 8-8S33.4 16 29 16z" fill="#FEB415"/>
      </svg>
    {% when 'paypal' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway paypal" aria-labelledby="{{ 'icon.paypal' | t }}" role="img">
        <title>{{ 'icon.paypal' | t }}</title>
        <desc>{{ 'icon.paypal' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v28c0 1.7 1.3 3 3 3h40c1.7 0 3-1.3 3-3V10C47 8.3 45.7 7 44 7z" fill="#E6E6E6"/>
        <path d="M30.3 19.2h-2.8c-0.2 0-0.4 0.1-0.4 0.3l-1.1 7.2c0 0.1 0.1 0.3 0.2 0.3h1.4c0.1 0 0.2-0.1 0.3-0.2l0.3-2c0-0.2 0.2-0.3 0.4-0.3h0.9c1.8 0 2.9-0.9 3.2-2.7 0.1-0.8 0-1.4-0.4-1.8C31.9 19.5 31.2 19.2 30.3 19.2zM30.6 21.8c-0.2 1-0.9 1-1.7 1H28.5l0.3-1.9c0-0.1 0.1-0.2 0.2-0.2 0.6 0 1.2 0 1.4 0.3C30.6 21.2 30.7 21.5 30.6 21.8z" fill="#009EE3"/>
        <path d="M10.3 19.2h-2.8c-0.2 0-0.4 0.1-0.4 0.3l-1.1 7.2c0 0.1 0.1 0.3 0.2 0.3h1.3c0.2 0 0.4-0.1 0.4-0.3l0.3-1.9c0-0.2 0.2-0.3 0.4-0.3h0.9c1.8 0 2.9-0.9 3.2-2.7 0.1-0.8 0-1.4-0.4-1.8C12 19.5 11.3 19.2 10.3 19.2zM10.6 21.8c-0.2 1-0.9 1-1.7 1H8.6l0.3-1.9c0-0.1 0.1-0.2 0.2-0.2h0.2c0.5 0 1 0 1.2 0.3C10.7 21.2 10.7 21.5 10.6 21.8z" fill="#113984"/>
        <path d="M18.7 21.8h-1.3c-0.1 0-0.2 0.1-0.2 0.2l-0.1 0.4c-0.1-0.2-0.4-0.7-1.7-0.7 -1.5 0-2.7 1.1-3 2.7 -0.1 0.8 0.1 1.5 0.5 2.1 0.4 0.5 1 0.7 1.7 0.7 1.2 0 1.9-0.8 1.9-0.8l-0.1 0.4c0 0.1 0.1 0.3 0.2 0.3h1.2c0.2 0 0.4-0.1 0.4-0.3l0.7-4.6C18.9 21.9 18.8 21.8 18.7 21.8zM16.8 24.4c-0.1 0.8-0.7 1.3-1.5 1.3 -0.4 0-0.7-0.1-0.9-0.4 -0.2-0.2-0.3-0.6-0.2-0.9 0.1-0.8 0.7-1.3 1.5-1.3 0.4 0 0.7 0.1 0.9 0.4C16.8 23.7 16.9 24 16.8 24.4z" fill="#113984"/>
        <path d="M38.7 21.8h-1.3c-0.1 0-0.2 0.1-0.2 0.2l-0.1 0.4c-0.1-0.2-0.4-0.7-1.7-0.7 -1.5 0-2.7 1.1-3 2.7 -0.1 0.8 0.1 1.5 0.5 2.1 0.4 0.5 1 0.7 1.7 0.7 1.2 0 1.9-0.8 1.9-0.8l-0.1 0.4c0 0.1 0.1 0.3 0.2 0.3h1.2c0.2 0 0.4-0.1 0.4-0.3l0.7-4.6C38.9 21.9 38.8 21.8 38.7 21.8zM36.8 24.4c-0.1 0.8-0.7 1.3-1.5 1.3 -0.4 0-0.7-0.1-0.9-0.4 -0.2-0.2-0.3-0.6-0.2-0.9 0.1-0.8 0.7-1.3 1.5-1.3 0.4 0 0.7 0.1 0.9 0.4C36.8 23.7 36.9 24 36.8 24.4z" fill="#009EE3"/>
        <path d="M25.8 21.8h-1.3c-0.1 0-0.2 0.1-0.3 0.2l-1.9 2.7 -0.8-2.6c0-0.2-0.2-0.3-0.4-0.3h-1.3c-0.2 0-0.3 0.2-0.2 0.3l1.5 4.4 -1.4 2c-0.1 0.2 0 0.4 0.2 0.4h1.3c0.1 0 0.2-0.1 0.3-0.2l4.5-6.5C26.1 22 26 21.8 25.8 21.8z" fill="#113984"/>
        <path d="M40.2 19.4l-1.1 7.3c0 0.1 0.1 0.3 0.2 0.3h1.2c0.2 0 0.4-0.1 0.4-0.3l1.1-7.2c0-0.1-0.1-0.3-0.2-0.3h-1.3C40.4 19.2 40.3 19.3 40.2 19.4z" fill="#009EE3"/>
      </svg>
    {% when 'visa' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="gateway visa" aria-labelledby="{{ 'icon.visa' | t }}" role="img">
        <title>{{ 'icon.visa' | t }}</title>
        <desc>{{ 'icon.visa' | t }} {{ 'icon.icon' | t }}</desc>
        <rect x="1" y="14" width="46" height="19" fill="#E6E6E6"/>
        <path d="M4 41h40c1.7 0 3-1.3 3-3v-5H1v5C1 39.7 2.3 41 4 41z" fill="#E79800"/>
        <path d="M44 7H4c-1.7 0-3 1.3-3 3v5h46v-5C47 8.3 45.7 7 44 7z" fill="#1A1876"/>
        <polygon points="19.2 28.8 21.8 28.8 23.5 19.2 20.9 19.2 " fill="#1A1876"/>
        <path d="M28.7 23.1c-0.9-0.4-1.5-0.7-1.5-1.2 0-0.4 0.5-0.8 1.5-0.8 0.8 0 1.5 0.2 2.2 0.5l0.4-2.1c-0.5-0.2-1.3-0.4-2.3-0.4 -2.6 0-4.4 1.3-4.4 3.2 0 1.4 1.3 2.1 2.3 2.6 1 0.5 1.4 0.8 1.4 1.2 0 0.6-0.8 0.9-1.6 0.9 -1.2 0-1.7-0.2-2.8-0.7l-0.4 2.1c0.6 0.3 1.7 0.5 2.9 0.5 2.7 0 4.5-1.3 4.5-3.3C30.9 24.6 30.2 23.8 28.7 23.1z" fill="#1A1876"/>
        <path d="M38 19.2H36c-0.6 0-1.1 0.2-1.4 0.8l-3.9 8.8h2.7c0 0 0.4-1.2 0.6-1.4 0.3 0 3 0 3.3 0 0.1 0.3 0.3 1.4 0.3 1.4h2.4L38 19.2zM34.8 25.4c0.1-0.3 1.2-3 1.4-3.6 0.4 1.7 0 0 0.8 3.6H34.8z" fill="#1A1876"/>
        <path d="M17 19.2l-2.6 6.5 -0.3-1.3 -0.9-4.4c-0.2-0.6-0.6-0.8-1.2-0.8H7.9L7.9 19.4c1 0.2 1.9 0.6 2.7 1.1l2.3 8.3 2.8 0 4.1-9.6H17z" fill="#1A1876"/>
      </svg>
    {% comment %}
      Social Icons
    {% endcomment %}
    {% when 'twitter' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social twitter" aria-labelledby="{{ 'social.twitter' | t }}" role="img">
        <title>{{ 'social.twitter' | t }}</title>
        <desc>{{ 'social.twitter' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M24 4.6c-0.9 0.4-1.8 0.7-2.8 0.8 1-0.6 1.8-1.6 2.2-2.7 -1 0.6-2 1-3.1 1.2 -0.9-1-2.2-1.6-3.6-1.6 -2.7 0-4.9 2.2-4.9 4.9 0 0.4 0 0.8 0.1 1.1C7.7 8.1 4.1 6.1 1.7 3.1 1.2 3.9 1 4.7 1 5.6c0 1.7 0.9 3.2 2.2 4.1C2.4 9.7 1.6 9.5 1 9.1c0 0 0 0 0 0.1 0 2.4 1.7 4.4 3.9 4.8 -0.4 0.1-0.8 0.2-1.3 0.2 -0.3 0-0.6 0-0.9-0.1 0.6 2 2.4 3.4 4.6 3.4 -1.7 1.3-3.8 2.1-6.1 2.1 -0.4 0-0.8 0-1.2-0.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14-7.5 14-14 0-0.2 0-0.4 0-0.6C22.5 6.4 23.3 5.5 24 4.6z" class="fill"/>
      </svg>
    {% when 'instagram' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social instagram" aria-labelledby="{{ 'social.instagram' | t }}" role="img">
        <title>{{ 'social.instagram' | t }}</title>
        <desc>{{ 'social.instagram' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M12 2.2c3.2 0 3.6 0 4.8 0.1 1.4 0.1 2.6 0.3 3.6 1.3 1 1 1.2 2.2 1.3 3.6 0.1 1.3 0.1 1.6 0.1 4.8s0 3.6-0.1 4.8c-0.1 1.4-0.3 2.6-1.3 3.6 -1 1-2.2 1.2-3.6 1.3 -1.3 0.1-1.6 0.1-4.8 0.1s-3.6 0-4.8-0.1c-1.4-0.1-2.6-0.3-3.6-1.3 -1-1-1.2-2.2-1.3-3.6 -0.1-1.3-0.1-1.6-0.1-4.8s0-3.6 0.1-4.8c0.1-1.4 0.3-2.6 1.3-3.6 1-1 2.2-1.2 3.6-1.3C8.4 2.2 8.8 2.2 12 2.2M12 0C8.7 0 8.3 0 7.1 0.1c-1.9 0.1-3.7 0.6-5 1.9C0.6 3.4 0.2 5.1 0.1 7.1 0 8.3 0 8.7 0 12c0 3.3 0 3.7 0.1 4.9 0.1 2 0.6 3.7 1.9 5 1.4 1.4 3.1 1.9 5 1.9C8.3 24 8.7 24 12 24s3.7 0 4.9-0.1c2-0.1 3.7-0.6 5-1.9 1.4-1.4 1.9-3.1 1.9-5C24 15.7 24 15.3 24 12s0-3.7-0.1-4.9c-0.1-1.9-0.6-3.7-1.9-5 -1.4-1.4-3.1-1.9-5-1.9C15.7 0 15.3 0 12 0L12 0z" class="fill"/>
        <path d="M12 5.8c-3.4 0-6.2 2.8-6.2 6.2S8.6 18.2 12 18.2s6.2-2.8 6.2-6.2S15.4 5.8 12 5.8zM12 16c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4S14.2 16 12 16z" class="fill"/>
        <circle cx="18.4" cy="5.6" r="1.4" class="fill"/>
      </svg>
    {% when 'facebook' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social facebook" aria-labelledby="{{ 'social.facebook' | t }}" role="img">
        <title>{{ 'social.facebook' | t }}</title>
        <desc>{{ 'social.facebook' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M9 23L9 13H5V9h4V6.5C9 2.8 11.3 1 14.6 1c1.6 0 2.9 0.1 3.3 0.2v3.9l-2.3 0c-1.8 0-2.1 0.9-2.1 2.1V9H18.8l-2 4h-3.2v10H9z" class="fill"/>
      </svg>
    {% when 'pinterest' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social pinterest" aria-labelledby="{{ 'social.pinterest' | t }}" role="img">
        <title>{{ 'social.pinterest' | t }}</title>
        <desc>{{ 'social.pinterest' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M12 0C5.4 0 0 5.4 0 12c0 5.1 3.2 9.4 7.6 11.2 -0.1-0.9-0.2-2.4 0-3.4 0.2-0.9 1.4-6 1.4-6S8.7 13 8.7 12c0-1.7 1-2.9 2.2-2.9 1 0 1.5 0.8 1.5 1.7 0 1-0.7 2.6-1 4 -0.3 1.2 0.6 2.2 1.8 2.2 2.1 0 3.8-2.2 3.8-5.5 0-2.9-2.1-4.9-5-4.9 -3.4 0-5.4 2.6-5.4 5.2 0 1 0.4 2.1 0.9 2.7 0.1 0.1 0.1 0.2 0.1 0.3 -0.1 0.4-0.3 1.2-0.3 1.4 -0.1 0.2-0.2 0.3-0.4 0.2 -1.5-0.7-2.4-2.9-2.4-4.6 0-3.8 2.8-7.3 7.9-7.3 4.2 0 7.4 3 7.4 6.9 0 4.1-2.6 7.5-6.2 7.5 -1.2 0-2.4-0.6-2.8-1.4 0 0-0.6 2.3-0.7 2.9 -0.3 1-1 2.3-1.5 3.1C9.6 23.8 10.8 24 12 24c6.6 0 12-5.4 12-12C24 5.4 18.6 0 12 0z" class="fill"/>
      </svg>
    {% when 'fancy' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="1049 628 17 24" class="social fancy" aria-labelledby="{{ 'social.fancy' | t }}" role="img">
        <title>{{ 'social.fancy' | t }}</title>
        <desc>{{ 'social.fancy' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M1063.2 630C1061.6 628.7 1059.6 628 1057.3 628 1055 628 1053.1 628.7 1051.5 630 1049.8 631.4 1049 633.1 1049 635L1049 644.4C1049 644.7 1049.2 645.1 1049.5 645.3 1049.9 645.6 1050.3 645.8 1050.8 645.8L1055.3 645.8 1055.3 650.3C1055.3 650.8 1055.5 651.2 1055.9 651.5 1056.3 651.8 1056.7 652 1057.3 652 1057.9 652 1058.4 651.8 1058.8 651.5 1059.2 651.2 1059.4 650.8 1059.4 650.3L1059.4 645.8 1063.9 645.8C1064.4 645.8 1064.8 645.6 1065.2 645.3 1065.5 645.1 1065.6 644.7 1065.6 644.4L1065.6 635C1065.6 633.1 1064.8 631.4 1063.2 630Z" class="fill"/>
      </svg>
    {% when 'youtube' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social youtube" aria-labelledby="{{ 'social.youtube' | t }}" role="img">
        <title>{{ 'social.youtube' | t }}</title>
        <desc>{{ 'social.youtube' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M23.8 7.2c0 0-0.2-1.7-1-2.4 -0.9-1-1.9-1-2.4-1C17 3.6 12 3.6 12 3.6h0c0 0-5 0-8.4 0.2 -0.5 0.1-1.5 0.1-2.4 1 -0.7 0.7-1 2.4-1 2.4S0 9.1 0 11.1v1.8c0 1.9 0.2 3.9 0.2 3.9s0.2 1.7 1 2.4c0.9 1 2.1 0.9 2.6 1 1.9 0.2 8.2 0.2 8.2 0.2s5 0 8.4-0.3c0.5-0.1 1.5-0.1 2.4-1 0.7-0.7 1-2.4 1-2.4s0.2-1.9 0.2-3.9v-1.8C24 9.1 23.8 7.2 23.8 7.2zM9.5 15.1l0-6.7 6.5 3.4L9.5 15.1z" class="fill"/>
      </svg>
    {% when 'vimeo' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="social vimeo" aria-labelledby="{{ 'social.vimeo' | t }}" role="img">
        <title>{{ 'social.vimeo' | t }}</title>
        <desc>{{ 'social.vimeo' | t }} {{ 'icon.icon' | t }}</desc>
        <path d="M24 6.4c-0.1 2.3-1.7 5.5-4.9 9.6 -3.3 4.2-6 6.4-8.3 6.4 -1.4 0-2.6-1.3-3.6-3.9 -0.6-2.4-1.3-4.7-1.9-7.1C4.6 8.8 3.8 7.5 3 7.5c-0.2 0-0.8 0.4-1.9 1.1L0 7.2c1.2-1 2.4-2.1 3.5-3.1C5.1 2.7 6.3 2 7.1 1.9c1.9-0.2 3 1.1 3.4 3.8 0.5 2.9 0.8 4.8 1 5.5 0.5 2.4 1.1 3.7 1.8 3.7 0.5 0 1.3-0.8 2.3-2.4 1-1.6 1.5-2.8 1.6-3.6 0.1-1.4-0.4-2.1-1.6-2.1 -0.6 0-1.2 0.1-1.8 0.4 1.2-3.9 3.4-5.7 6.8-5.6C23 1.7 24.1 3.3 24 6.4z" class="fill"/>
      </svg>
    {% when 'shopify' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="shopify" aria-labelledby="Shopify" role="img">
        <title>Shopify</title>
        <desc>Shopify {{ 'icon.icon' | t }}</desc>
        <path d="M13.3 3.1C13.3 3 13.2 3 13.1 3c-0.1 0-1.3-0.1-1.3-0.1S11 2 10.9 1.9c-0.1-0.1-0.3-0.1-0.3 0 0 0-0.2 0.1-0.5 0.1C9.8 1.2 9.5 0.5 8.3 0.5 8.1 0.1 7.8 0 7.5 0c-2.1 0-3 2.6-3.4 3.9C3.3 4.1 2.8 4.3 2.7 4.3 2.3 4.5 2.2 4.5 2.2 4.9c0 0.3-1.2 9.4-1.2 9.4l9.1 1.7 4.9-1.1C15 14.9 13.3 3.2 13.3 3.1zM8.3 2.6c-0.5 0.2-1 0.3-1.6 0.5 0.3-1.2 0.9-1.8 1.4-2C8.3 2 8.3 2.6 8.3 2.6zM7.4 0.6c0.1 0 0.2 0 0.3 0.1C7.1 1 6.3 1.7 6 3.3 5.6 3.4 5.2 3.6 4.8 3.7 5.1 2.5 6 0.6 7.4 0.6zM7.8 7.5c0 0-0.5-0.3-1.2-0.3 -1 0-1 0.6-1 0.8 0 0.8 2.2 1.1 2.2 3.1 0 1.5-1 2.5-2.3 2.5 -1.6 0-2.4-1-2.4-1l0.4-1.4c0 0 0.8 0.7 1.5 0.7 0.5 0 0.6-0.4 0.6-0.6 0-1.1-1.8-1.1-1.8-2.9 0-1.5 1.1-2.9 3.2-2.9 0.8 0 1.2 0.2 1.2 0.2L7.8 7.5zM8.8 2.4c0-0.1 0-0.1 0-0.2 0-0.5-0.1-0.9-0.2-1.2 0.5 0.1 0.8 0.6 1 1.2C9.4 2.3 9.1 2.4 8.8 2.4z" class="fill"/>
      </svg>
    {% else %}
    <!-- No icon found -->
  {% endcase %}
</span>
