<!-- snippets/index-featured-news.liquid -->

<div class="container">
  <h3>{{ 'index.featured_news' | t }}</h3>
</div>

<div class="container">
  <div class="row">

    {% for article in blogs['news'].articles limit:3 %}
      <div class="column l4 m12 s12">

        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
          {{ 'blog.article.published' | t }} {{ article.published_at | date: '%A, %-d %B, %Y' }}
        </time>

        <div class="rte">
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
          {% endif %}
        </div>

        <ul>
          {% if blog.comments_enabled? %}
          <li>
            <a href="{{ article.url }}#comments">
              {{ article.comments_count }}
              {{ 'blog.comments.with_count' | t: count: article.comments_count }}
            </a>
          </li>
          {% endif %}
        </ul>

        <p><a href="{{ article.url }}">{{ 'blog.article.read_more' | t }}</a></p>

      </div>
    {% endfor %}

  </div>

</div>

<div class="container">
  <hr>
</div>
