<!-- snippets/onboarding.products-featured-products.liquid -->

{% comment %}
  This is probably a legacy thing
{% endcomment %}

<div class="column l12 helper-section">
  <div class="helper-note">
    <span class="helper-icon"></span>
    <h3>{{ 'onboarding.products.modal_title' | t }}</h3>
    <p>{{ 'onboarding.products.no_products_html' | t }}</p>
    <p><a class="admin-btn-primary" href="/admin/collections?tutorial=Frontpage">{{ 'onboarding.products.add_product' | t }}</a></p>
  </div>
  <div class="helper-content">
    <div class="row">
      {% for i in (1..6) %}
        <div class="column l4 m6 s12">
          <a href="/admin/products" class="grid__image">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
          <p>
            <a href="/admin/products">{{ 'onboarding.products.product_title' | t }}</a><br>
            $19.99
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
