{% assign count = paginate.pages %}
{% if paginate.previous %}
  <a href="{{ paginate.previous.url }}" data-number="{{ paginate.current_page | minus: 1 }}" class="PaginationLink"><</a>
{% endif %}
{% for part in (1..count) %}
  <a href="{{ collection.url }}?page={{ forloop.index }}" data-number="{{ forloop.index }}" class="PaginationLink{% if paginate.current_page == part %} active{% endif %}">{{ forloop.index }}</a>
{% endfor %}
{% if paginate.next %}
  <a href="{{ paginate.next.url }}" data-number="{{ paginate.current_page | plus: 1 }}" class="PaginationLink">></a>
{% endif %}
