<!-- snippets/social-sharing.liquid -->

{% assign sharing_on = false %}
{% if template contains 'product' and settings.social_sharing_products %}
  {% assign sharing_on = true %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}
{% endif %}
{% if settings.social_sharing_blog %}
  {% if template contains 'article' or template contains 'blog' or template == 'password' %}
    {% assign sharing_on = true %}
    {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
    {% capture shareTitle %}{{ article.title }}{% endcapture %}
  {% endif %}
{% endif %}
{% if sharing_on %}

  <div class="social-sharing" data-permalink="{{ permalinkURL }}">

    <h4>{{ 'social.share.title' | t }}</h4>

    {% if settings.share_facebook %}
      <a target="_blank"
         href="//www.facebook.com/sharer.php?u={{ permalinkURL }}"
         class="button share facebook"
         data-social="facebook">
        {{ 'social.share.facebook' | t }}
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a target="_blank"
         href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_param_escape }}"
         class="button share twitter"
         data-social="twitter">
        {{ 'social.share.twitter' | t }}
      </a>
    {% endif %}

    {% if template contains 'product' %}

      {% if settings.share_pinterest %}
        <a target="_blank"
           href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_param_escape }}"
           class="button share pinterest"
           data-social="pinterest">
          {{ 'social.share.pinterest' | t }}
        </a>
      {% endif %}

      {% if settings.share_fancy %}
        <a target="_blank"
           href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle | url_param_escape }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | img_url: '1024x1024' }}"
           class="button share fancy"
           data-social="fancy">
          {{ 'social.share.fancy' | t }}
        </a>
      {% endif %}

    {% endif %}

    {% if settings.share_google %}
      <a target="_blank"
         href="//plus.google.com/share?url={{ permalinkURL }}"
         class="button share google"
         data-social="google">
        {{ 'social.share.google' | t }}
      </a>
    {% endif %}

  </div>

{% endif %}

<script>
  // Social sharing

  window.concreteSocial = window.concreteSocial || {};

  concreteSocial.cacheSelectors = function () {
    concreteSocial.cache = {
      $shareButtons: $('.social-sharing'),
    }
  };

  concreteSocial.init = function () {
    concreteSocial.cacheSelectors();
    concreteSocial.sliders();
  };

  concreteSocial.socialSharing = function () {

    concreteSocial.cacheSelectors();

    // General selectors
    var $buttons = concreteSocial.cache.$shareButtons,
        $shareLinks = $buttons.find('a'),
        permalink = $buttons.attr('data-permalink');

    // Share popups
    $shareLinks.on('click', function(e) {
      e.preventDefault();
      var el = $(this),
        popup = el.attr('data-social'),
        link = el.attr('href'),
        // Default popup sizes
        w = 720,
        h = 720;
        // Custom popup sizes
        switch (popup) {
        case 'twitter':
          console.log('twitter')
          w = 480;
          h = 320;
        break;
        case 'fancy':
          w = 480;
          h = 720;
        break;
        case 'google':
          w = 500;
        break;
      }
      window.open(link, popup, 'width=' + w + ', height=' + h);
    });
  }

  // Initialize social sharing
  {% if settings.social_sharing_products or settings.social_sharing_blog %}
    $(concreteSocial.socialSharing)
  {% endif %}
</script>
