<!-- /snippets/theme-header.liquid -->

<header class="theme-header" role="banner">
  <div class="container">

    <div class="row l-table m-table">
      <div class="column l8 m8 s12 l-left m-left s-middle">

        {% if template == 'index' %}
          <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if settings.logo_use_image %}
            <a href="/" itemprop="url">
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

      </div>
      <div class="column l4 m4 s12 l-right m-right s-middle">

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" data-popup="#PopupAccount" class="popup-link">{{ 'account.title' | t }}</a>
          {% else %}
            <a href="/account" data-popup="#PopupAccount" class="popup-link">{{ 'account.title' | t }}</a>
          {% endif %}
        {% endif %}

        <a href="/cart" id="CartLink" data-popup="#PopupCart" class="popup-link" aria-controls="Cart" aria-expanded="false" rv-cloak data-cart-view>
          <span rv-text="cart.title"></span>
          { cart.item_count } { cart.item_count | pluralize "item" }
          (<span id="CartTotal">{cart.total_price | money_with_currency}</span>)
        </a>

      </div>
    </div>

    <div class="row l-table m-table">
      <div class="column l6 m6 s12 l-left m-left s-middle">

        <div class="s-hide">
          {% include 'theme-nav-main' %}
        </div>
        <div class="l-hide m-hide">
          <a href="/" data-nav="#NavToggled" class="nav-toggled-link ">{{ 'common.menu' | t }}</a>
        </div>

      </div>
      <div class="column l6 m6 s12 l-right m-right s-hide">

        {% include 'search-form' %}

      </div>
    </div>

    <hr>

  </div>
</header>
