<!-- snippets/blog-article.liquid -->

{%- assign column_width = column_width | default: 'column l4 m6 s12' -%}
{%- capture author -%}<b>{{ article.author }}</b>{%- endcapture -%}
{%- capture date -%}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%A, %-d %B, %Y' }}</time>{%- endcapture -%}

<article class="{{ column_width }}">
  {%- comment -%}
    Due to accessibility requirements, we are regrouping all logical elements into the <a> element.
    If a screen reader user is tabbing through the page, or browsing by links on the page with duplicated links,
    they will appear identical which may lead to a confusing user experience.
  {%- endcomment -%}
  <a href="{{ article.url }}" class="block">
    {%- if article.image -%}
      {% include 'responsive-image' with
        image: article.image,
        max_width: 550,
        max_height: 550
      %}
    {%- endif -%}
    <h2>{{ article.title }}</h2>
  </a>

  <div class="rte">
    {%- if article.excerpt.size > 0 -%}
      {{ article.excerpt }}
    {%- else -%}
      <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
    {%- endif -%}
  </div>

  <p>
    <a href="{{ article.url }}">{{ 'blog.article.read_more' | t }}</a>
  </p>

  <p>
    {{ 'blog.article.author_on_date_html' | t: author: author, date: date }}
  </p>

  {%- if article.tags.size > 0 -%}
    <p>
      {{ 'blog.article.tags' | t }}:
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
        {%- unless forloop.last -%}, {%- endunless -%}
      {%- endfor -%}
    </p>
  {%- endif -%}

  {%- if blog.comments_enabled? -%}
    <p>
      <a href="{{ article.url }}#comments">
        {{ 'blog.comments.with_count' | t: count: article.comments_count }}
      </a>
    </p>
  {%- endif -%}
</article>
