{%- assign sold_out = true -%}
{%- assign on_sale = false -%}
{%- assign sale_price = product.price | money -%}
{%- assign column_width = column_width | default: 'column l4 m6 s12' -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

<div class="{{ column_width }}{% if sold_out %} sold_out{% endif %}{% if on_sale %} on_sale{% endif %} margin-bottom-2x">
  {% if product.featured_image %}
    <a href="{{ product.url | within: collection }}" class="block">
      {% include 'responsive-image' with
        image: product.featured_image,
        max_width: 650,
        max_height: 800
      %}
    </a>
  {% endif %}

  <p>
    <a href="{{ product.url | within: collection }}">
      {{ product.title }}
    </a>
    <br>
    {% if on_sale %}
      {% if product.price_varies %}
        {{ 'product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <b>{{ 'product.on_sale_html' | t: price: sale_price }}</b>
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'product.priced_from_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if on_sale %}
      <span class="hidden">
        {{ 'product.original_price' | t }}
      </span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  </p>
</div>
