<!-- snippets/form-register.liquid -->

<div id="RegisterForm">

  {% form 'create_customer' %}

    {{ form.errors | default_errors }}

    <label for="FirstName">{{ 'account.customer.first_name' | t }}</label>
    <input type="text" name="customer[first_name]" id="FirstName"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

    <label for="LastName">{{ 'account.customer.last_name' | t }}</label>
    <input type="text" name="customer[last_name]" id="LastName"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words">

    <label for="Email">{{ 'form.email' | t }}</label>
    <input type="email" name="customer[email]" id="Email"{% if form.errors contains 'email' %} class="error"{% endif %}{% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

    <label for="CreatePassword">{{ 'form.password' | t }}</label>
    <input type="password" name="customer[password]" id="CreatePassword"{% if form.errors contains 'password' %} class="error"{% endif %}>

    <button type="submit" class="wide">{{ 'account.register.submit' | t }}</button>

    <p>{{ 'account.register.already_registered' | t }} {{ 'account.login.title' | t | customer_login_link }}</p>

  {% endform %}

</div>
