<!-- snippets/form-login.liquid -->

{% form 'customer_login' %}

  {{ form.errors | default_errors }}

  <label for="CustomerEmail">{{ 'form.email' | t }}</label>
  <input type="email" name="customer[email]" id="CustomerEmail"{% if form.errors contains 'email' %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

  {% if form.password_needed %}
    <label for="CustomerPassword">{{ 'form.password' | t }}</label>
    <input type="password" value="" name="customer[password]" id="CustomerPassword"{% if form.errors contains 'password' %} class="error"{% endif %}>
  {% endif %}

  <button type="submit" class="wide">{{ 'account.login.submit' | t }}</button>

  <p>{{ 'account.login.no_account' | t }} {{ 'account.login.register' | t | customer_register_link }}</p>
  {% if form.password_needed %}
    <p>{{ 'account.login.forgot' | t }} <a href="/account/login?view=recover">{{ 'account.login.recover' | t }}</a></p>
  {% endif %}

{% endform %}

{% if shop.checkout.guest_login %}
  <hr>
  <h2>{{ 'account.login.guest' | t }}</h2>
  {% form 'guest_login' %}
    <input type="submit" value="{{ 'form.continue' | t }}">
  {% endform %}
{% endif %}
