<!-- /snippets/form-recover-password.liquid -->

<div id="PasswordRecoverForm">
  {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      {% assign resetPassword = true %}
    {% else %}
      <p>{{ 'account.reset_password.message' | t }}</p>
    {% endif %}

    <p>
      <label for="RecoverEmail" class="hidden">{{ 'form.email' | t }}</label>
      <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'form.email' | t }}" autocorrect="off" autocapitalize="off">
      <input type="submit" value="{{ 'form.send' | t }}">
    </p>

    <p><a href="/account/login">{{ 'form.cancel' | t }}</a></p>
  {% endform %}
</div>
