{% for item in cart.items %}
  <a href="{{ item.url }}">
    {% if item.image != blank %}
      <img src="{{ item.image | img_url: '50x80' }}"
           srcset="{{ item.image | img_url: '50x80' }} 1x,
                   {{ item.image | img_url: '50x80', scale: 2 }} 2x"
           alt="{{ item.title }}"
           class="margin-right-2x"
           style="float:left">
    {% endif %}
    <span class="h5">{{ item.product.title }}</span>
    <br>
    {{ item.variant.title }}
  </a>

  {{ item.price | money_with_currency }}
{% endfor %}
