<!-- /snippets/popup-address.liquid -->

{% case popup-address %}
  {% when 'edit' %}

    <div id="PopupAddress_{{ address.id }}" class="popup overlay">
      <div class="popup-inner">
        <div class="popup-content">
          {% form 'customer_address', address %}
            <h4>{{ 'account.address.edit' | t }}</h4>

            {{ form.errors | default_errors }}

            <label for="AddressFirstName_{{ address.id }}">{{ 'account.customer.first_name' | t }}</label>
            <input type="text" id="AddressFirstName_{{ address.id }}" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">

            <label for="AddressLastName_{{ address.id }}">{{ 'account.customer.last_name' | t }}</label>
            <input type="text" id="AddressLastName_{{ address.id }}" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">

            <label for="AddressCompany_{{ address.id }}">{{ 'account.customer.company' | t }}</label>
            <input type="text" id="AddressCompany_{{ address.id }}" name="address[company]" value="{{ address.company }}" autocapitalize="words">

            <label for="AddressAddress1_{{ address.id }}">{{ 'account.customer.address1' | t }}</label>
            <input type="text" id="AddressAddress1_{{ address.id }}" name="address[address1]" value="{{ address.address1 }}" autocapitalize="words">

            <label for="AddressAddress2_{{ address.id }}">{{ 'account.customer.address2' | t }}</label>
            <input type="text" id="AddressAddress2_{{ address.id }}" name="address[address2]" value="{{ address.address2 }}" autocapitalize="words">

            <label for="AddressCity_{{ address.id }}">{{ 'account.customer.city' | t }}</label>
            <input type="text" id="AddressCity_{{ address.id }}" name="address[city]" value="{{ address.city }}" autocapitalize="words">

            <label for="AddressCountry_{{ address.id }}">{{ 'account.customer.country' | t }}</label>
            <div class="select-wrapper"><select id="AddressCountry_{{ address.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select></div>

            <div id="AddressProvinceContainer_{{ address.id }}" style="display:none" class="province-wrapper">
              <label for="AddressProvince_{{ address.id }}">{{ 'account.customer.province' | t }}</label>
              <div class="select-wrapper"><select id="AddressProvince_{{ address.id }}" name="address[province]" data-default="{{ form.province }}"></select></div>
            </div>

            <label for="AddressZip_{{ address.id }}">{{ 'account.customer.zip' | t }}</label>
            <input type="text" id="AddressZip_{{ address.id }}" name="address[zip]" value="{{ address.zip }}" autocapitalize="characters">

            <label for="AddressPhone_{{ address.id }}">{{ 'account.customer.phone' | t }}</label>
            <input type="tel" id="AddressPhone_{{ address.id }}" name="address[phone]" value="{{ address.phone }}">

            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ address.id }}">{{ 'account.address.set_default' | t }}</label>
            </p>

            <button type="submit" class="wide no-margin">{{ 'account.address.update' | t }}</button>

            {% if form.errors %}
              <script>
                $(document).ready(function() {
                  var AddressPopup_{{ address.id }} = new Focus('#PopupAddress_{{ address.id }}');
                  AddressPopup_{{ address.id }}.show();
                });
              </script>
            {% endif %}
          {% endform %}

          <a href="#close" class="popup-close" data-close data-target="#PopupAddress_{{ address.id }}" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
        </div>
      </div>
    </div>

    <div id="PopupAddressDelete_{{ address.id }}" class="popup overlay">
      <div class="popup-inner">
        <div class="popup-content">
          <h4>{{ 'account.address.delete' | t }}</h4>
          <p>{{ 'account.address.delete_confirm' | t }}</p>
          <a href="#close" class="popup-close" data-close data-target="#PopupAddressDelete_{{ address.id }}" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
          <p><a href="#" class="button wide" onclick="Shopify.CustomerAddress.destroy({{ address.id }});return false">{{ 'account.address.delete' | t }}</a></p>
        </div>
      </div>
    </div>

  {% else %}

    <div id="PopupAddress" class="popup overlay">
      <div class="popup-inner">
        <div class="popup-content">
          {% form 'customer_address', customer.new_address %}
            <h4>{{ 'account.address.add' | t }}</h4>

            {{ form.errors | default_errors }}

            <label for="AddressFirstNameNew">{{ 'account.customer.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">

            <label for="AddressLastNameNew">{{ 'account.customer.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">

            <label for="AddressCompanyNew">{{ 'account.customer.company' | t }}</label>
            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ address.company }}" autocapitalize="words">

            <label for="AddressAddress1New">{{ 'account.customer.address1' | t }}</label>
            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ address.address1 }}" autocapitalize="words">

            <label for="AddressAddress2New">{{ 'account.customer.address2' | t }}</label>
            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ address.address2 }}" autocapitalize="words">

            <label for="AddressCityNew">{{ 'account.customer.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ address.city }}" autocapitalize="words">

            <label for="AddressCountryNew">{{ 'account.customer.country' | t }}</label>
            <div class="select-wrapper"><select id="AddressCountryNew" name="address[country]" data-default="{{ address.country }}">{{ country_option_tags }}</select></div>

            <div id="AddressProvinceContainerNew" style="display:none" class="province-wrapper">
              <label for="AddressProvinceNew">{{ 'account.customer.province' | t }}</label>
              <div class="select-wrapper"><select id="AddressProvinceNew" name="address[province]" data-default="{{ address.province }}"></select></div>
            </div>

            <label for="AddressZipNew">{{ 'account.customer.zip' | t }}</label>
            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ address.zip }}" autocapitalize="characters">

            <label for="AddressPhoneNew">{{ 'account.customer.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ address.phone }}">

            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">{{ 'account.address.set_default' | t }}</label>
            </p>

            <button type="submit" class="wide">{{ 'account.address.add' | t }}</button>

            {% if form.errors %}
              <script>
                $(document).ready(function() {
                  var AddressPopup = new Focus('#PopupAddress');
                  AddressPopup.show();
                });
              </script>
            {% endif %}
          {% endform %}

          <a href="#close" class="popup-close" data-close data-target="#PopupAddress" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
        </div>
      </div>
    </div>

{% endcase %}
