<!-- /snippets/popup-cart.liquid -->

{% comment %}
  This snippets adds the ability to display the cart contents on any shopify page.
  Dependencies:
   - Handlebars
{% endcomment %}

<div id="PopupCart" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">
      <div class="h4">{{ 'cart.title' | t }}</div>
      <div class="items" data-item-container>
        {% for item in cart.items %}
          <div class="item">
            <p>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </p>
            <div class="row cart-item">
              <div class="column l6 m6 s6">
                {% if item.total_discount > 0 %}
                  <p class="no-margin">
                    <b>{% if item.line_price != 0 %}{{ item.line_price | money_with_currency  }}{% else %}Free{% endif %}</b>
                    <span> </span>
                    <s class="small">{{ item.original_line_price | money_with_currency }}</s>
                  </p>
                  {% for discount in item.discounts %}
                    <small class="no-margin">{{ discount.title }}</small><br>
                  {% endfor %}
                {% else %}
                  <p class="no-margin">
                    <b>{{ item.line_price | money_with_currency }}</b>
                  </p>
                {% endif %}
                <p><small><a href="#" data-remove-item data-item-id="{{ item.id }}">Remove</a></small></p>
              </div>
              <div class="column l6 m6 s6 right">
                <div class="quantity-adjust">
                  <a class="adjust minusOne" data-minus-one>&#8722;</a>
                  <span class="quantity" data-item-quantity data-item-id="{{ item.id }}">{{ item.quantity }}</span>
                  <a class="adjust plusOne" data-plus-one>&#43;</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <p>Your cart is empty!</p>
        {% endfor %}
      </div>
      <hr>
      <p><small>{{ 'cart.shipping_at_checkout' | t }}</small></p>
      <div class="row cart-item">
        <div class="column l6 m6 s6">
          <a href="/cart" aria-label="{{ 'cart.view_cart' | t }}">{{ 'cart.view_cart' | t }}</a>
        </div>
        <div class="column l6 m6 s6 right">
          <b>{{ 'cart.total' | t }} <span data-cart-total>{{ cart.total_price | money_with_currency }}</span></b>
        </div>
      </div>
      <p class="center"><a href="/cart" class="button wide" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a></p>
      <a href="#close" class="popup-close" data-close data-target="#PopupCart" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
    </div>
  </div>
  {% raw %}
  <script data-cart-template type="text/x-handlebars-template">
    <div class="item">
      <p>
        <a href="{{lineItem.url}}">{{lineItem.title}}</a>
      </p>
      <div class="row cart-item">
        <div class="column l6 m6 s6">
          {{#if lineItem.total_discount}}
            <!-- <s>{{formatMoney lineItem.original_line_price}}</s> -->
            <p class="no-margin">
              <b>
                {{#if lineItem.line_price}}
                 {{formatMoney lineItem.line_price}}
                {{else}}
                  Free
                {{/if}}
              </b>
              <span> </span>
              <s class="small">{{formatMoney lineItem.original_line_price}}</s>
            </p>
            {{#each lineItem.discounts}}
               <small class="no-margin">{{this.title}}</small><br>
            {{/each}}
            <!-- <small class="no-margin">{{lineItem.discounts}}</small> -->
          {{else}}
            <p class="no-margin">
              <b>{{formatMoney lineItem.line_price}}</b>
            </p>
          {{/if}}
          <p><small><a href="#" data-remove-item data-item-id="{{lineItem.id}}">Remove</a></small></p>
        </div>
        <div class="column l6 m6 s6 right">
          <div class="quantity-adjust">
            <a class="adjust" data-minus-one>&#8722;</a>
            <span class="quantity" data-item-quantity data-item-id="{{lineItem.id}}">{{ lineItem.quantity }}</span>
            <a class="adjust" data-plus-one>&#43;</a>
          </div>
        </div>
      </div>
    </div>
  </script>
  {% endraw %}
</div>
<script>
  var cartPopup = new Focus('#PopupCart');
</script>
