<!-- /snippets/theme-logo.liquid -->

{% assign logo = settings.logo %}
{% assign logo_width = settings.logo_width | append: 'x' %}

{% if template == 'index' or template == 'password' %}
  <h1 class="theme-logo no-margin">
{% else %}
  <div class="h1 theme-logo no-margin">
{% endif %}
  {% if logo != blank %}
    <a href="/" title="{{ shop.name }}" class="logo-image block">
      <span class="block">
        <img src="{{ logo | img_url: logo_width, scale: 2 }}" alt="{{ shop.name }}" title="{{ shop.name }}" class="block">
      </span>
    </a>
  {% else %}
    <a href="/" title="{{ shop.name }}">{{ shop.name }}</a>
  {% endif %}
{% if template == 'index' or template == 'password' %}
  </h1>
{% else %}
  </div>
{% endif %}
