<!-- /templates/customers/activate_account.liquid -->

<div class="container l">

  <h1>{{ 'account.activate.title' | t }}</h1>

  {% comment %}
    This form must use 'activate_customer_password'
  {% endcomment %}
  {% form 'activate_customer_password' %}

    {{ form.errors | default_errors }}

    <label for="CustomerPassword">{{ 'account.password' | t }}</label>
    <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'account.password' | t }}">

    <label for="CustomerPasswordConfirmation">{{ 'account.password_confirmation' | t }}</label>
    <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'account.password_confirmation' | t }}">

    <input type="submit" value="{{ 'form.submit' | t }}">
    <input type="submit" name="decline" value="{{ 'form.cancel' | t }}">
  {% endform %}

</div>
