<!-- /templates/customers/login.liquid -->

<div class="container center">

  <div id="LoginForm">
    {% form 'customer_login' %}

      <h1>{{ 'account.login' | t }}</h1>

      <p>{{ 'account.no_account' | t }} {{ 'account.create_account' | t | customer_register_link }}</p>

      {{ form.errors | default_errors }}

      <label for="CustomerEmail" class="clearfix">{{ 'form.email' | t }}</label>
      <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'form.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

      {% if form.password_needed %}
        <label for="CustomerPassword" class="clearfix">{{ 'account.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'account.password' | t }}">
      {% endif %}

      <input type="submit" value="{{ 'account.sign_in' | t }}">

      <p>
        <a href="/">{{ 'form.cancel' | t }}</a>
        {% if form.password_needed %}
          <br><a href="#recover" id="RecoverPasswordLink">{{ 'account.forgot_password' | t }}</a>
        {% endif %}
      </p>

    {% endform %}
  </div>

  <p class="note hidden" id="ResetSuccess">
    {{ 'account.reset_password.success' | t }}
  </p>

  <div id="RecoverPasswordForm" class="hidden">

    <h2 class="h1">{{ 'account.reset_password.title' | t }}</h2>
    <p>{{ 'account.reset_password.message' | t }}</p>

    {% form 'recover_customer_password' %}

      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        {% assign resetPassword = true %}
      {% endif %}

      <label for="RecoverEmail" class="hidden">{{ 'form.email' | t }}</label>
      <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'form.email' | t }}" autocorrect="off" autocapitalize="off">

      <input type="submit" value="{{ 'form.send' | t }}">

      <p><a href="#" id="HideRecoverPasswordLink">{{ 'form.cancel' | t }}</a></p>

    {% endform %}

  </div>

  {% if shop.checkout.guest_login %}
    <hr>
    <h2>{{ 'form.guest_title' | t }}</h2>
    {% form 'guest_login' %}
      <input type="submit" value="{{ 'form.guest_continue' | t }}">
    {% endform %}
  {% endif %}

</div>
