<!-- /templates/customers/register.liquid -->

<div class="container">

  <div id="RegisterForm" class="center">

    <h1>{{ 'account.register' | t }}</h1>

    <p>{{ 'account.already_registered' | t }} {{ 'account.login' | t | customer_login_link }}</p>

    {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <label for="FirstName" class="clearfix">{{ 'account.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'account.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="clearfix">{{ 'account.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'account.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email" class="clearfix">{{ 'form.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'form.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword" class="clearfix">{{ 'account.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'account.password' | t }}">

      <input type="submit" value="{{ 'account.register' | t }}" class="btn btn--full">

      <p><a href="{{ shop.url }}">{{ 'form.cancel' | t }}</a></p>

    {% endform %}

  </div>

</div>
