<!-- /templates/customers/reset_password.liquid -->

<div class="container center">

  <div id="PasswordResetForm">
    {% form 'reset_customer_password' %}

      <h1>{{ 'account.reset_password.title' | t }}</h1>

      <p>{{ 'account.reset_password_message' | t: email: email }}</p>

      {{ form.errors | default_errors }}

      <label for="ResetPassword" class="clearfix">{{ 'account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'account.password' | t }}">

      <label for="PasswordConfirmation" class="clearfix">{{ 'account.password_confirmation' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'account.password_confirmation' | t }}">

      <p><input type="submit" value="{{ 'form.submit' | t }}"></p>

    {% endform %}
  </div>

</div>
