<!doctype html>
<!-- ===========================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v0.1
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
============================================================================ -->
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <!-- META ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <title>
    {{ shop.name }} &ndash; {{ 'password_page.opening_soon' | t }}
  </title>

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  {% if settings.favicon_enable %}
    <link rel="shortcut icon"
          href="{{ 'favicon.png' | asset_url }}"
          type="image/png" />
  {% endif %}

  <!-- Shopify ================================================== -->
  {{ content_for_header }}

  <!-- CSS ================================================== -->
  {{ 'app.scss.css' | asset_url | stylesheet_tag }}

  <!-- javascript ================================================== -->
  {% include 'oldIE-js' %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

</head>

<body id="template-password">
  {{ content_for_layout }}
  {{ 'app.js' | asset_url | script_tag }}
</body>

</html>
