<!-- templates/customers/order.liquid -->

{% include 'breadcrumbs' %}

<h1>{{ 'customer.order.title' | t: name: order.name }}</h1>

{% if order.cancelled %}
  <div class="errors">
    {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
    <h5>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</h5>
    <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
  </div>
{% endif %}

<div class="row margin-bottom-1x">
  <div class="column l6 s12">
    <ul>
      <li>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</li>
      <li>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_b | default: '-' }}</li>
      <li>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</li>
      <li></li>
    </ul>
  </div>
  <div class="column l6 s12 right">
    <a class="button wide" href="{{ order.order_status_url }}" target="_blank">{{ 'customer.order.track_shipment' | t }}</a>
  </div>
</div>

<br>

<div class="row l-table s-hide">
  <div class="column l5"><b>{{ 'cart.product' | t }}</b></div>
  <div class="column l2"><b>{{ 'cart.sku' | t }}</b></div>
  <div class="column l2"><b>{{ 'cart.price' | t }}</b></div>
  <div class="column l1"><b>{{ 'cart.quantity' | t }}</b></div>
  <div class="column l2 right"><b>{{ 'cart.total' | t }}</b></div>
</div>

<hr>

{% for line_item in order.line_items %}
  <div class="row l-table m-table margin-top-2x margin-bottom-2x" id="{{ line_item.key }}">
    <div class="column l5 s12">
      <p>{{ line_item.title | link_to: line_item.variant.url }}</p>
      {% if line_item.fulfillment %}
        {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
        <p>
          {{ 'customer.order.fulfilled_with_date' | t: date: created_at }}
          {% if line_item.fulfillment.tracking_number %}
            <br>
            <a href="{{ line_item.fulfillment.tracking_url }}">
              {{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}
            </a>
          {% endif %}
        </p>
      {% endif %}
    </div>
    <div class="column l2 s-hide"><p>{{ line_item.sku }}</p></div>
    <div class="column l2 s-hide"><p>{{ line_item.price | money }}</p></div>
    <div class="column l1 s7"><p>{{ line_item.quantity }}</p></div>
    <div class="column l2 s5 right"><p>{{ line_item.quantity | times: line_item.price | money }}</p></div>
  </div>
{% endfor %}

<hr>

<div class="row l-table m-table collapse margin-top-2x">
  <div class="column l9 m8 s6 right">
    <p>{{ 'cart.subtotal' | t }}</p>
  </div>
  <div class="column l3 m4 s6 right">
    <p>{{ order.subtotal_price | money }}</p>
  </div>
</div>

{% for discount in order.discounts %}
  <div class="row l-table m-table collapse">
    <div class="column l9 m8 s6 right">
      <p>{{ discount.code }} {{ 'customer.order.discount' | t }}</p>
    </div>
    <div class="column l3 m4 s6 right">
      <p>{{ discount.savings | money }}</p>
    </div>
  </div>
{% endfor %}

{% for shipping_method in order.shipping_methods %}
  <div class="row l-table m-table collapse">
    <div class="column l9 m8 s6 right">
      <p>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</p>
    </div>
    <div class="column l3 m4 s6 right">
      <p>{{ shipping_method.price | money }}</p>
    </div>
  </div>
{% endfor %}

{% for tax_line in order.tax_lines %}
  <div class="row l-table m-table collapse">
    <div class="column l9 m8 s6 right">
      <p>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</p>
    </div>
    <div class="column l3 m4 s6 right">
      <p>{{ tax_line.price | money }}</p>
    </div>
  </div>
{% endfor %}

<div class="row l-table m-table collapse">
  <div class="column l9 m8 s6 right">
    <p><b>{{ 'cart.total' | t }}</b></p>
  </div>
  <div class="column l3 m4 s6 right">
    <p><b>{{ order.total_price | money }} {{ order.currency }}</p></b>
  </div>
</div>

{% if order.billing_address or order.shipping_address %}

  <br><hr><br>

  <div class="row">
    {% if order.billing_address %}
      <div class="column l6 m6 s12">
        <label class="h4">{{ 'customer.order.billing_address' | t }}</label>
        <p>
          <b>{{ order.billing_address.name }}</b>
          {% if order.billing_address.company != '' %}
            {{ order.billing_address.company }}<br>
          {% endif %}
          {{ order.billing_address.street }}<br>
          {{ order.billing_address.city }}<br>
          {% if order.billing_address.province != '' %}
            {{ order.billing_address.province }}<br>
          {% endif %}
          {{ order.billing_address.zip | upcase }}<br>
          {{ order.billing_address.country }}<br>
          {{ order.billing_address.phone }}
        </p>
      </div>
    {% endif %}
    {% if order.shipping_address %}
      <div class="column l6 m6 s12">
        <label class="h4">{{ 'customer.order.shipping_address' | t }}</label>
        <p>
          <b>{{ order.shipping_address.name }}</b>
          {% if order.shipping_address.company != '' %}
            {{ order.shipping_address.company }}<br>
          {% endif %}
          {{ order.shipping_address.street }}<br>
          {{ order.shipping_address.city }}<br>
          {% if order.shipping_address.province != '' %}
            {{ order.shipping_address.province }}<br>
          {% endif %}
          {{ order.shipping_address.zip | upcase }}<br>
          {{ order.shipping_address.country }}<br>
          {{ order.shipping_address.phone }}
        </p>
      </div>
    {% endif %}
  </div>
{% endif %}
