<!-- /snippets/form-contact.liquid -->

<div id="ContactForm">

  {% form 'contact' %}

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'form.success' | t }}
      </p>
    {% else %}
      {% assign name_attr = 'contact.form.name' | t | handleize %}
      <label for="ContactFormName">{{ 'form.name' | t }}</label>
      <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

      <label for="ContactFormEmail">{{ 'form.email' | t }}</label>
      <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

      {% assign name_attr = 'form.phone' | t | handleize %}
      <label for="ContactFormPhone">{{ 'form.phone' | t }}</label>
      <input type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

      <label for="ContactFormMessage">{{ 'form.message' | t }}</label>
      <textarea rows="10" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

      <button type="submit">{{ 'form.send' | t }}</button>
    {% endif %}

  {% endform %}

</div>
