<!-- /templates/cart.liquid -->

{% if cart.item_count > 0 %}

  <div class="container">
    <h1>{{ 'cart.title' | t }}</h1>
  </div>

  <form id="CartPage" action="/cart" method="post" novalidate>
    <div class="container s-hide">
      <div class="row l-table m-table" id="CartHeader">
        <div class="column l5 m5">{{ 'cart.product' | t }}</div>
        <div class="column l3 m2">{{ 'cart.price' | t }}</div>
        <div class="column l2 m3">&nbsp;</div>
        <div class="column l2 m2 l-right m-right">{{ 'cart.subtotal' | t }}</div>
      </div>
    </div>
    <div class="container" id="CartItems" data-cart-view rv-cloak>
      <div class="row l-table m-table" rv-each-item="cart.items">
        <div class="column l5 m5 s12">
          <a class="product_title h4" rv-href="item.url">
            { item.product_title }
            {% unless item.variant.title contains 'Default' %}
              - <span>{ item.variant_title }</span>
            {% endunless %}
          </a>
        </div>
        <div class="column l3 m2 s-hide">
          { item.price | money_with_currency}
        </div>
        <div class="column l2 m3 s6">
          <div class="quanity_adjust">
            <a class="adjust" id="minusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&#8722;</a>
            <span class="quantity">{ item.quantity }</span>
            <a class="adjust" id="plusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&#43;</a>
          </div>
        </div>
        <div class="column l2 m2 s6 right">
          <strong>{ item.line_price | money_with_currency }</strong><br>
          <a class="adjust" rv-data-cart-remove="index | plus 1"><small>{{ 'cart.remove_item' | t }}</small></a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="column l6 m6 s12">
          {% if settings.cart_notes_enable %}
            <label class="clearfix "for="CartSpecialInstructions">{{ 'cart.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          {% endif %}
        </div>
        <div class="column l6 m6 s12 l-right m-right">

          <p>
            <span class="h5">{{ 'cart.total' | t }}</span>
            <span class="h3" data-cart-view>{ cart.total_price | money_with_currency }</span>
          </p>

          {% if cart.total_discounts > 0 %}
            {% assign savings = cart.total_discounts | money %}
            <p><span><em>{{ 'cart.savings_html' | t: price: savings }}</em></span></p>
          {% endif %}

          <p><em>{{ 'cart.shipping_at_checkout' | t }}</em></p>
          <button type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>

        </div>
      </div>
    </div>
  </form>

{% else %}

  <div class="container">
    <h2>{{ 'cart.title' | t }}</h2>
    <p class="h4">{{ 'cart.empty' | t }}</p>
    <p>{{ 'cart.back_to_shop_html' | t }}</p>
  </div>

{% endif %}
