<!-- /templates/cart.liquid -->

{% if cart.item_count > 0 %}
<div class="container">
  <h1>{{ 'cart.title' | t }}</h1>

  <form action="/cart" method="post" novalidate>

    <div id="CartHeader" class="row">
      <div class="column l4">{{ 'cart.label.product' | t }}</div>
      <div class="column l2">{{ 'cart.label.price' | t }}</div>
      <div class="column l2">{{ 'cart.label.quantity' | t }}</div>
      <div class="column l2">{{ 'cart.label.total' | t }}</div>
    </div>

    <div id="CartItems" data-cart-view>
      <div class="row" rv-each-item="cart.items">
        <div class="column l4">
          { item.title }
        </div>
        <div class="column l2">
          { item.price | money_with_currency}
        </div>
        <div class="column l2">
         <a id="minusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">-</a> { item.quantity } <a id="plusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">+</a>
        </div>
        <div class="column l2">
          { item.line_price | money_with_currency }
        </div>
      </div>
    </div>

    {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.note' | t }}</label>
      <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %}

    <p>
      <span class="cart__subtotal-title">{{ 'cart.subtotal' | t }}</span>
      <span class="h3 cart__subtotal" data-cart-view>{ cart.total_price | money_with_currency }</span>
    </p>

    {% if cart.total_discounts > 0 %}
      {% assign savings = cart.total_discounts | money %}
      <p><span><em>{{ 'cart.savings_html' | t: price: savings }}</em></span></p>
    {% endif %}

    <p><em>{{ 'cart.shipping_at_checkout' | t }}</em></p>
    <button type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>

  </form>

{% else %}
  <div class="container">
    <h2>{{ 'cart.title' | t }}</h2>
    <p class="h4">{{ 'cart.empty' | t }}</p>
    <p>{{ 'cart.back_to_shop_html' | t }}</p>
  </div>
{% endif %}
</div>
