<!-- /templates/collection.liquid -->

{% paginate collection.products by 12 %}

{% assign column_width = 'column l4 m6 s12' %}

<div class="container">
  <header>
    <div class="row">
      <div class="column l6 m12 s12">
        <h1>{{ collection.title }}</h1>
      </div>
      <div class="column l6 m12 s12 right m-left s-left">
        <label for="SortBy">{{ 'collection.sort.title' | t }}</label>
        <div class="select-wrapper">
          <select name="SortBy" id="SortBy">
            <option value="manual">{{ 'collection.sort.featured' | t }}</option>
            <option value="best-selling">{{ 'collection.sort.best_selling' | t }}</option>
            <option value="title-ascending">{{ 'collection.sort.az' | t }}</option>
            <option value="title-descending">{{ 'collection.sort.za' | t }}</option>
            <option value="price-ascending">{{ 'collection.sort.price_ascending' | t }}</option>
            <option value="price-descending">{{ 'collection.sort.price_descending' | t }}</option>
            <option value="created-descending">{{ 'collection.sort.date_descending' | t }}</option>
            <option value="created-ascending">{{ 'collection.sort.date_ascending' | t }}</option>
          </select>
        </div>
      </div>
    </div>
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>
  <p>
    <span for="SortBy">{{ 'collection.view.title' | t }}</span>
    <a title="{{ 'collection.view.grid' | t }}" class="change-view" data-view="grid">Grid</a>
    <a title="{{ 'collection.view.list' | t }}" class="change-view" data-view="list">List</a>
  </p>
</div>

<div class="container">
  <div class="row">
    {% for product in collection.products %}
      {% include 'collection-product' %}
    {% else %}
      {% if collection.handle == 'all' and current_tags == '' %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}
        {% include 'onboarding-empty-collection' %}
      {% else %}
        <div class="column l12">
          <p>{{ 'collection.no_matches' | t }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% if paginate.pages > 1 %}
  <div class="container">
    <hr>
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  </div>
{% endif %}

{% endpaginate %}

<script>
  // Collection template sorting
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  $(function() {
    $('#SortBy')
      .val('{{ collection.sort_by | default: collection.default_sort_by }}')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      }
    );
  });
</script>
