<!-- /templates/product.liquid -->

<div class="container" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign on_sale = false %}
  {% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
  {% assign sold_out = true %}
  {% if product.available %}{% assign sold_out = false %}{% endif %}

  <div class="row">
    <div class="column l6 m6 s12">

      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
      <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" id="ProductMainImage">

      {% if product.images.size > 1 %}
        <ul class="inline" id="ProductThumbnailImages">
          {% for image in product.images %}
            <li>
              <a href="{{ image.src | img_url: 'grande' }}" class="thumbnail">
                <img src="{{ image.src | img_url: 'thumbnail' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>

    <div class="column l6 m6 s12">

      <h1 itemprop="name">{{ product.title }}</h1>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option
                  {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                  {% endif %}
                  data-sku="{{ variant.sku }}"
                  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="hidden">{{ 'product.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2 clearfix" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if on_sale %}
            <p id="OnSale">
              <span class="hidden">{{ 'product.original_price' | t }}</span>
              <span>{{ 'product.original_price' | t }}</span>
              <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
            </p>
          {% endif %}

          <label for="Quantity" class="clearfix">{{ 'product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" data-cart-quantity="1">

          <button type="submit" name="add" id="AddToCart" data-cart-add="{{ product.variant.id }}">
            <span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>
          </button>
        </form>

      </div>

      <div class="rte" itemprop="description">
        {{ product.description }}
      </div>

      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'product.previous_product' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'product.next_product' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}

    </div>

  </div>
</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in concrete.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  $("#Quantity").on("change", function() {
    $("#AddToCart").attr("data-cart-quantity", $(this).val());
  });

  var selectCallback = function(variant, selector) {
    console.log("Switching variant: ", variant);
    concrete.switchVariant({
      moneyFormat: "{{ shop.money_format }}",
      variant: variant,
    })
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
