<!-- /sections/index-hero-media.liquid -->

{%- comment -%}
  This hero media section is for diplaying combinations of images, text, link
  and videos (not included by default) in a banner/slider format

  This section is hidden on small screens by default, as overlayed content
  doesn't tend to work well over landscape images on small screens. Consider
  adding an alternate image option for small screens that is square or portrait.
{%- endcomment -%}

<section class="hero-media">
  {% for block in section.blocks %}
    <div class="hero-media__block block_{{ forloop.index }}">
      {% if block.settings.image != blank %}
        <div
          style="background-image:url({{ block.settings.image | img_url: '6x' }});background-size:cover;"
          class="lazyload hero-media__background-image"
          data-bgset="{% render 'responsive-bg-image', image: block.settings.image %}">
        </div>
      {% else %}
        <div class="hero-media__background-image">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}

      <div class="hero-media__content">
        {% if block.settings.title != blank %}
          <h2>{{ block.settings.title | escape }}</h2>
        {% endif %}
        {% if block.settings.text != blank %}
          <div>{{ block.settings.text }}</div>
        {% endif %}
        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <br>
          <a href="{{ block.settings.button_link }}" class="button">
            {{ block.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'onboarding.no_content' | t }}
    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Hero media",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text overlay"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>This is a great place to show off featured content comprised of background images, text content and buttons.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
