<!-- sections/index-collections.liquid -->

{% assign title = section.settings.title %}
{% assign column_width = 'column l4 m6 s12' %}

<section class="container l">
  {% if title != blank %}
    <header>
      <h2>{{ title }}</h2>
    </header>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="row">

      {% for block in section.blocks limit: section.blocks.size %}
        <div class="{{ column_width }}" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.collection] -%}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collection.title' }}">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collection.title' }}">{{ collection.title }}</a><br>
            {{ 'collection.with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
      {% endfor %}

    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Collection list",
    "class": "collections-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collections",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
