<!-- sections/password-header.liquid -->

<div class="container center">
  <header class="theme-header" role="banner">
    <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
    {% if section.settings.logo %}
      <a href="/" itemprop="url">
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
    {% else %}
      <a href="/" itemprop="url">{{ shop.name }}</a>
    {% endif %}
    </h1>
    <hr>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      }
    ]
  }
{% endschema %}
