<!-- sections/template-product.liquid -->

{%- assign sold_out = true -%}
{%- assign on_sale = false -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign multiple_variants = false -%}
{%- unless product.options.size == 1 and product.variants[0].title == 'Default Title' -%}
  {%- assign multiple_variants = true -%}
{%- endunless -%}

{%- if current_variant.compare_at_price > current_variant.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- if current_variant.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign vendor_enabled = section.settings.vendor_enabled -%}
{%- assign sharing_enabled = section.settings.sharing_enabled -%}

<div class="padding-top-2x"
     data-section-type="product"
     data-section-id="{{ section.id }}"
     data-enable-history-state="true">

  <div class="row">
    <div class="column l6 m6 s12">
      <div id="productPhoto">
        {% include 'responsive-image' with
          image: product.featured_image,
          max_width: 600,
          max_height: 900
        %}
      </div>

      {% if product.images.size > 1 %}
        <ul id="productThumbs" class="row collapse">
          {% for image in product.images %}
            <li class="column l3 m4 s4">
              <a href="{{ image.src | img_url: '1500x' }}"
                 title="{{ 'product.thumbnail_accessible_title_html' | t: count: forloop.index, product_title: product.title }}">
                {% include 'responsive-bg-image' with
                  image: image,
                  ratio: 1.0
                %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="column l6 m6 s12">
      <h1>{{ product.title }}</h1>

      {% if vendor_enabled and product.vendor != blank %}
        <p>{{ product.vendor }}</p>
      {% endif %}

      {%- comment -%}
        Product pricing
      {%- endcomment -%}
      <p class="margin-bottom-2x">
        <span id="ProductPrice" class="h3">
          {{ current_variant.price | money }}
        </span>

        {%- comment -%}
          This element should exist, but hidden, even if the default product
          is not on sale. Showing or hiding on variant change should be
          handled with Javascript.
        {%- endcomment -%}
        <s id="comparePrice"
           class="h3{% unless on_sale %} hidden{% endunless %}">
           <span class="visually-hidden">
             {{ 'product.regular_price' | t }}
           </span>
          {{ current_variant.compare_at_price | money }}
        </s>
      </p>

      <form action="/cart/add"
            method="post"
            enctype="multipart/form-data"
            id="AddToCartForm"
            data-cart-submit>

        {%- comment -%}
          This variant loop creates a dropdown selector for each option set
          Javascript is required to pass the selected product ID to the cart
          This will be hidden in browsers where Javascript is not supported
        {%- endcomment -%}
        {% if multiple_variants %}
          <div class="js">
            {% for option in product.options_with_values %}
              <label {% if option.name == 'default' %}class="hidden"{% endif %}
                     for="singleOptionSelector-{{ forloop.index }}">
                {{ option.name }}
              </label>
              <select id="singleOptionSelector-{{ forloop.index }}"
                      data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                  <option value="{{ value | escape }}"
                          {%- if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            {% endfor %}
          </div>
        {% endif %}

        {%- comment -%}
          Original variant selector with fallback for no Javascript
          The customer will not see this element
        {%- endcomment -%}
        <noscript>
          <select name="id">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option
                  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </noscript>

        <label for="Quantity" class="visually-hidden">
          {{ 'product.quantity' | t }}
        </label>
        <div class="quantity-adjust inline margin-right-1x">
          <a class="js adjust" data-change="-1">&#8211;</a>
          <input type="number" id="Quantity" class="quantity" name="quantity" value="1" min="1" data-cart-quantity="1">
          <a class="js adjust" data-change="1">&#43;</a>
        </div>

        {% if sold_out %}
          <button type="submit" name="add" data-add-to-cart disabled>
            <span id="AddToCartText">{{ 'product.sold_out' | t }}</span>
          </button>
        {% else %}
          <button type="submit" name="add" data-add-to-cart>
            <span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>
          </button>
        {% endif %}

      </form>

      <div class="rte">
        {{ product.description }}
      </div>

      <!-- TO DO -->
      {% if sharing_enabled %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}

    </div>
  </div>
</div>

{% if collection %}
  {% if collection.previous_product or collection.next_product %}
    <p class="right">
      {% if collection.previous_product %}
        <span class="left">
          {{ 'general.pagination.previous' | t | link_to: collection.previous_product }}
        </span>
      {% endif %}
      {% if collection.next_product %}
        <span class="right">
          {{ 'general.pagination.next' | t | link_to: collection.next_product }}
        </span>
      {% endif %}
    </p>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "vendor_enabled",
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "sharing_enabled",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
