<!-- sections/template-password.liquid -->

{% comment %}
  Password message can be edited on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}

<div class="container l center">
  <header class="theme-header" role="banner">
    {% include 'theme-logo' %}
  </header>

  <main class="margin-bottom-5x">
    <div class="password-heading">
      <h2>{{ section.settings.header }}</h2>
    </div>

    {% unless shop.password_message == blank %}
      <div class="password-message">
        {{ shop.password_message }}
      </div>
    {% endunless %}

    {% if section.settings.newsletter_enable %}
      <div class="margin-bottom-5x">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'password_page.signup_form_success' | t }}
            </p>
          {% else %}
            <p class="h4">
              {{ section.settings.newsletter_form_heading }}
            </p>
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <label for="email" class="hidden">{{ 'password_page.signup_form_email_label' | t }}</label>
            <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder }}">
            <button type="submit" name="commit">
              {{ section.settings.newsletter_button_text }}
            </button>
          {% endif %}
        {% endform %}
      </div>
    {% endif %}
  </main>

  <footer>
    {% if section.settings.show_share_buttons %}
      <div>
        <h4>{{ section.settings.social_message }}</h4>
        {% include 'social-sharing' %}
      </div>
    {% endif %}

    {% capture shopify %}
      <a class="classic-link shopify-link" href="//www.shopify.com?ref=elkfox" target="_blank" title="Create your own online store with Shopify">Shopify</a>
    {% endcapture %}
    <p>
      <small>{{ 'password_page.powered_by_shopify_html' | t: shopify: shopify }}</small><br>
      <small><a href="#PasswordPagePopup" data-trigger="popup" data-target="#PasswordPagePopup">{{ 'password_page.password_link' | t }}</a></small>
    </p>

    <div class="popup overlay" role="alert" id="PasswordPagePopup">
      <div class="popup-inner">
        <div class="popup-content">
          <div class="center">
            <h4>{{ 'password_page.login_form_heading' | t }}</h4>
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <label for="password" class="hidden">{{ 'password_page.login_form_password_label' | t }}</label>
              <input type="password" name="password" id="Password" placeholder="{{ 'password_page.login_form_password_placeholder' | t }}" data-auto-focus>
              <button type="submit" name="commit">
                {{ 'password_page.login_form_submit' | t }}
              </button>
            {% endform %}
            <div>
              <small>{{ 'password_page.admin_link_html' | t }}</small>
              <a href="#close" data-close class="popup-close" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var PasswordPagePopup = new Focus('#PasswordPagePopup');
      });
    </script>
  </footer>
</div>

{% schema %}
  {
    "name": "Password template",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Title",
        "default": "Coming Soon"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
