<!-- /snippets/theme-header.liquid -->

{% assign enable_search = section.settings.enable_search %}
{% assign include_results = '' %}
{% if section.settings.include_products %}
  {% assign include_results = '' | append: 'product,' %}
{% endif %}
{% if section.settings.include_articles  %}
  {% assign include_results = '' | append: 'articles,' %}
{% endif %}
{% if section.settings.include_pages %}
  {% assign include_results = '' | append: 'pages,' %}
{% endif %}
{% assign include_results = include_results | append: '[last]' | remove: ',[last]' | remove: '[last]' %}

<header class="theme-header" role="banner">
  <div class="container">

    <div class="row l-table m-table">
      <div class="column l8 m8 s12 l-left m-left s-middle">
        {% include 'theme-logo' %}
      </div>

      <div class="column l4 m4 s12 l-right m-right s-middle">
        {% if customer %}
          <a href="/account">{{ 'account.title' | t }}</a>
        {% else %}
          <a href="/account">{{ 'account.login' | t }}</a>
        {% endif %}

        <a href="/cart" id="CartLink" data-trigger="popup" data-target="#PopupCart.popup" aria-controls="Cart" aria-expanded="false" class="v-middle">
          {{ 'cart.title' | t }}
          <span data-cart-item-count>{{ cart.item_count }}</span>
          (<span data-cart-total>{{ cart.total_price | money_with_currency }}</span>)
        </a>

        <div class="s-show margin-top-2x">
          <a href="#NavToggled" data-trigger="popup" data-target="#NavToggled">
            {{ 'common.menu' | t }}
          </a>
        </div>
      </div>
    </div>

    <div class="row l-table m-table s-hide">
      <div class="column{% if enable_search %} l9 m9 {% else %} l12{% endif %} s12 l-left m-left s-v-middle">
        {% include 'theme-nav-main' %}
      </div>
      {% if enable_search %}
        <div class="column l3 m3 s12 l-right m-right">
          {% include 'form-search' %}
        </div>
      {% endif %}
    </div>

    <hr>

  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_products",
        "label": "Include product results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_articles",
        "label": "Include article results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_pages",
        "label": "Include page results",
        "default": true
      }
    ]
  }
{% endschema %}
