<!-- /snippets/theme-header.liquid -->

{% assign logo = section.settings.logo %}
{% assign logo_width = section.settings.logo_width %}
{% assign enable_search = section.settings.enable_search %}
{% assign include_results = '' %}
{% if section.settings.include_products %}
  {% assign include_results = '' | append: 'product,' %}
{% endif %}
{% if section.settings.include_articles  %}
  {% assign include_results = '' | append: 'articles,' %}
{% endif %}
{% if section.settings.include_pages %}
  {% assign include_results = '' | append: 'pages,' %}
{% endif %}
{% assign include_results = include_results | append: '[last]' | remove: ',[last]' | remove: '[last]' %}


<header class="theme-header" role="banner">
  <div class="container">

    <div class="row l-table m-table">
      <div class="column l8 m8 s12 l-left m-left s-middle">

        {% if template == 'index' %}
          <h1 class="logo" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 logo" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          <meta itemprop="name" content="{{ shop.name }}">
          {% if logo != nil %}
            <a href="/" itemprop="url" title="{{ shop.name }}" class="logo-image">
              <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img src="{{ logo | img_url: logo_width, scale: 2 }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" width="{{ logo_width | replace: 'x', 'px' }}">
              </span>
            </a>
          {% else %}
            <a href="/" itemprop="url" title="{{ shop.name }}">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

      </div>
      <div class="column l4 m4 s12 l-right m-right s-middle">
        {% if customer %}
          <a href="/account">{{ 'account.title' | t }}</a>
        {% else %}
          <a href="/account">{{ 'account.login' | t }}</a>
        {% endif %}

        <a href="/cart" id="CartLink" data-trigger="popup" data-target="#PopupCart.popup" aria-controls="Cart" aria-expanded="false" class="v-middle">
          {{ 'cart.title' | t }}
          <span data-cart-item-count>{{ cart.item_count }}</span>
          (<span data-cart-total>{{ cart.total_price | money_with_currency }}</span>)
        </a>

      </div>
    </div>

    <div class="row l-table m-table s-hide">
      <div class="column{% if enable_search %} l9 m9 {% else %} l12{% endif %} s12 l-left m-left s-v-middle">
        {% include 'theme-nav-main' %}
      </div>
      {% if enable_search %}
        <div class="column l3 m3 s12 l-right m-right">
          {% include 'form-search' %}
        </div>
      {% endif %}
    </div>

    <hr>

  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_width",
        "label": "Logo width",
        "default": "100",
        "info": "This should be 50% of the width of the image you uploaded. Defined in pixels. Do not add the 'px' unit."
      },
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_products",
        "label": "Include product results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_articles",
        "label": "Include article results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_pages",
        "label": "Include page results",
        "default": true
      }
    ]
  }
{% endschema %}
