<!doctype html>

  <!-- ===========================================================================
  Feel free to add your own header, but please keep the following:
   ___  _   _    _
  /   || | | |  | |
  \__  | | | |  | |  __
  /    |/  |/_) |/  /  \_/\/
  \___/|__/| \_/|__/\__/  /\_/
                |\
                |/
  Concrete v2.0.5
  https://github.com/Elkfox/Concrete
  Copyright (c) 2017 Elkfox Co Pty Ltd
  https://elkfox.com
  MIT License
  ============================================================================ -->

  <!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

  <head>
    <!-- META ================================================================ -->
    {% include 'meta-theme' %}
    {% include 'meta-social' %}
    {% include 'meta-favorites' %}

    <!-- Shopify ============================================================= -->
    {{ content_for_header }}

    <!-- CSS ================================================================= -->
    {{ 'app.scss.css' | asset_url | stylesheet_tag }}

    <!-- JavaScript =========================================================== -->
    {% if shop.customer_accounts_enabled and template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {{ 'vendor.js' | asset_url | script_tag }}
  </head>

  <body class="template-password" itemscope itemtype="http://schema.org/WebSite">
    <main id="MainContent" role="main" class="tall">
      {{ content_for_layout }}
    </main>
  </body>
  
</html>
