<!doctype html>

  <!-- ===========================================================================
  Feel free to add your own header, but please keep the following:
   ___  _   _    _
  /   || | | |  | |
  \__  | | | |  | |  __
  /    |/  |/_) |/  /  \_/\/
  \___/|__/| \_/|__/\__/  /\_/
                |\
                |/
  Concrete v2.0.5
  https://github.com/Elkfox/Concrete
  Copyright (c) 2017 Elkfox Co Pty Ltd
  https://elkfox.com
  MIT License
  ============================================================================ -->

  <!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

  <head>
    <!-- META ================================================================ -->
    {% include 'meta-theme' %}
    {% include 'meta-social' %}
    {% include 'meta-favorites' %}

    <!-- Shopify ============================================================= -->
    {{ content_for_header }}

    <!-- CSS ================================================================= -->
    {{ 'app.scss.css' | asset_url | stylesheet_tag }}

    <!-- JavaScript =========================================================== -->
    {% if shop.customer_accounts_enabled and template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'vendor.js' | asset_url | script_tag }}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'app.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'app.js' | asset_url }}"></script><![endif]-->
    <script>
      var cart;
      $(document).ready(function() {
        cart = new Cartfox.Cart({{ cart | json }}, {
          addItem: '[data-add-to-cart]',
          cartItemCount: "[data-cart-item-count]",
          cartTotal: "[data-cart-total]",
          decreaseQuantity: "[data-minus-one]",
          increaseQuantity: "[data-plus-one]",
          itemQuantity: '[data-item-quantity]',
          removeItem: '[data-remove-item]',
          emptyTemplate: '[data-cart-template]',
          itemsContainer: '[data-item-container]'
        });
      });
    </script>
  </head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != null %} suffix-{{ template.suffix }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">
    {% section 'theme-header' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'theme-footer' %}
    {% include 'popup-cart' %}
    {% include 'popup-error' %}

    {% if customer %}
      {% include 'popup-account' %}
    {% endif %}

    <script type="text/javascript">
      // Cart error handling
      $(document).on('cartfox:requestComplete', function(event, cart, error) {
        if (error) {
          $("#PopupError").find("#errorMessage").text(error);
          PopupError.show();
        } else {
          {% unless template == 'cart' %}
            cartPopup.show();
          {% endunless %}
        }
      });
    </script>
  </body>

</html>
