<!doctype html>
<!-- ===========================================================================
Feel free to add your own header here, but please don't remove ours
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Concrete v3.0.0
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
============================================================================ -->
{%- comment -%}
  In order to confirm the availability of Javascript the 'no-script' class
  exists on the document until Javascript is loaded. See theme.js for more
{%- endcomment -%}
<html lang="{{ shop.locale }}" class="noscript">
<head>
{% include 'meta-general' %}
{% include 'meta-social' %}
{% include 'style-tags', layout: 'theme' %}
{% include 'script-tags', layout: 'theme' %}
{{ content_for_header }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}{% if template.suffix != null %} suffix-{{ template.suffix | handle }}{% endif %}">
  {% section 'theme-header' %}
  <main role="main" id="MainContent" class="container l">
    {{ content_for_layout }}
  </main>
  {% section 'theme-footer' %}
  {% include 'meta-schema' %}

  <script>
    var cart;
    $(document).ready(function() {
      cart = new CartFox({{ cart | json }});
    });
  </script>

</body>
</html>
